<div id="categories">
    {% load mptt_tags %}
    <ul>
    	{% if categories %}
            {% recursetree categories %}
                <li>
                    <a href="{% url guidebook-category id=node.id slug=node.slug %}">{{ node.title }}</a>
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        {% endif %}
    </ul>
</div>