{% extends "template.html" %}
{% load i18n %}

{% block module_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}pirobox/css/style_2/style.css">
{% endblock %}

{% block title %} {% trans 'Guidebook' %} / {% endblock %}

{% block module_name %}{% trans 'Guidebook' %}{% endblock %}

{% block module_description %}
	{% trans 'articles, tips and information about countries' %}
{% endblock %}

{% block module_actions %}
    <a href="{% url guidebook-add %}" class="btn btn-large">{% trans 'Add guidebook entry' %}</a>
{% endblock %}

{% block footer_code %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}pirobox/js/pirobox_extended_min.js"></script>
	{% comment %}
    <script type="text/javascript">
		;(function(w, $){
			"use strict";
            $(function(){
                $().piroBox_ext({
                    piro_speed : 700,
                    bg_alpha : 0.7,
                    piro_scroll : true // pirobox always positioned at the center of the page
                });
            });
        })(window, jQuery || django.jQuery);
	</script>
	{% endcomment %}
{% endblock %}
